<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather-App-in-NodeJS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <br>
        <div class="row">
          <div class="col-md-4"></div> 
          <div class="col-md-4"><a href="http://crowdinventiv.com/" target="_blank">Develop by Lokesh</a></div> 
          <div class="col-md-4"></div> 
        </div>  
      <br>
      <fieldset>
        <form action="/" method="post">
          <label>Enter City and Get Weather</label>
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
